In [1]:
print("Conversion of temperature in celsius to fahrenheit and viceversa")
f=float(input("Enter the temperature in fahrenheit"))
print("Temperature in fahrenheit=",f)
print("Temperature in celsius=", (f-32)*(5/9))
c=float(input("Enter the temperature in celsious"))
print("Temperature in celsious=",c)
print("Temperature in fahrenheit=", ((9*c)/5)+32)

Conversion of temperature in celsius to fahrenheit and viceversa
temperature in fahrenheit= 100.0
temperature in celsius= 37.77777777777778
temperature in celsious= 38.0
Temperature in farrenheit= 100.4

In [2]:
print("Details of a student's name, roll number and mark")
name=input("Enter student's name")
print("Name:", name)
roll_no=int(input("Enter student's roll number"))
print("Roll No:", roll_no)
mark=int(input("Enter studen's mark"))
print("Mark:", mark)

Details of a student's name, roll number and mark
Name: Deepika Charly
Roll No: 7
Mark: 100

In [5]:
print("Finding the product of 2 numbers")
x=float(input("Enter the first number"))
print("First number=",x)
y=float(input("Enter the second number"))
print("Second number=",y)
print("Product=First number*Second number=", x*y)

Finding the product of 2 numbers
First number= 5490.0
Second number= 234.5
Product=First number*Second number= 1287405.0

In [1]:
txt=input("Enter text")
x=txt.split(" ",3)
print(x)
#sorry, I don't know how to get the desired output

['Learn', 'Python', 'by', 'Developing a Website']

In [3]:
import math
print(" finding area of a circle")
r=float(input("Enter the radius"))
print("radius=",r, "cm")
print("area=",math.pi*r**2, "sqcm")

 finding area of a circle
radius= 7.0 cm
area= 153.93804002589985 sqcm

In [6]:
list=["deepika",7,10,"dhoni","messi",18,]
num=input("Enter the number to be inserted")
print("The number to be added in the list is,",num)
pos=int(input("the position at which the number should be inserted in the list"))
print("The position at which the number should be added in the list is,",pos)
list.insert(pos,num)
list

The number to be added in the list is, 45
The position at which the number should be added in the list is, 4

['deepika', 7, 10, 'dhoni', '45', 'messi', 18]

In [20]:
dict_={ "name": "John", "age":5, "salary": 8000, "city": "New York"}
print(dict_)
dict_["location"]=dict_.pop("city")
print(dict_)

{'name': 'John', 'age': 5, 'salary': 8000, 'city': 'New York'}
{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

In [26]:
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict["emp3"]["salary"]=8500
sample_dict

{'emp1': {'name': 'John', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [27]:
tuple1 = (10, 20, 43, 54, 56, 68)
print(tuple1)
tuple2=tuple1[2:4]
print(tuple2)

(10, 20, 43, 54, 56, 68)
(43, 54)

In [29]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
x=tuple1.count(50)
print("number of occurences of 50 in the given tuple=",x)

number of occurences of 50 in the given tuple= 3