A company started to invest in digital marketing as a new way of their product promotions. For that they collected data and decided to carry out a study on it.

● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

● The company needs to check whether there is any dependency between the features “Region” and “Manager”.

Help the company to carry out their study with the help of data provided.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Sales_add.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1012.0+ bytes

In [4]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [5]:
df.shape

(22, 5)

To check whether there is any increase in sales after stepping into digital marketing, we can go for TWO SAMPLE PAIRED T TEST(sample size<30)

Let,
H0: There is NO increase in sales even after stepping into digital marketing. 

H1: There IS INCREASE in sales after stepping into digital marketing.

In [6]:
samp_1=list(df['Sales_before_digital_add(in $)'])

In [7]:
samp_1

[132921,
 149559,
 146278,
 152167,
 159525,
 137163,
 130625,
 131140,
 171259,
 141956,
 159339,
 178939,
 145062,
 151514,
 147463,
 177195,
 140862,
 167996,
 132135,
 152493,
 147425,
 130263]

In [8]:
samp_2=list(df['Sales_After_digital_add(in $)'])

In [9]:
samp_2

[270390,
 223334,
 244243,
 231808,
 258402,
 256948,
 222106,
 230637,
 226261,
 193735,
 203175,
 276279,
 205180,
 253131,
 229336,
 187305,
 234908,
 191517,
 227040,
 212579,
 263388,
 243020]

In [10]:
from scipy.stats import ttest_rel

In [11]:
t_stat, p_value = ttest_rel(samp_1, samp_2)

In [12]:
print("p value=",p_value)

p value= 6.336667004575778e-11

In [13]:
if p_value<0.05:
  print("Null hypothesis Rejected")
else:
  print("Null hypothesis Accepted")

Null hypothesis Rejected

Null Hypothesis Rejection means Accept Alternate Hypothesis.
That is, There is significant increase in sales after introducing digital marketing.

To check whether there is any dependency between the features “Region” and “Manager”, we can perform Chi-Square Test of Independence.

H0: There IS NO significant relationship between ‘Region’ and ‘Manager’.

H1: There IS significant relationship between ‘Region’ and ‘Manager’.

In [14]:
from scipy.stats import chi2_contingency

In [15]:
contingency_table = pd.crosstab(df["Region"], df["Manager"])

In [16]:
contingency_table

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [17]:
chi_stat,p_val,dof,exp_val= chi2_contingency(contingency_table)

In [18]:
print("p value=",p_val)

p value= 0.5493991051158094

In [20]:
if p_val<0.05:
  print("Null hypothesis Rejected")
else:
  print("Null hypothesis Accepted")

Null hypothesis Accepted

This indicates that there is NO significant relationship between Region and Manager.

So the final results are,
1. There IS significant increase in sales after introducing digital marketing.
2. There is NO significant relationship between Region and Manager.